:root {
    --primary: #e7e7e6;
    --secondary: #90A7A2;
    --accent: #900d34;
    --light: #ffffff;
    --dark: #212121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a base font size */
body {
    font-size: 16px;
    font-family: 'Playfair Display';
}

/* Style header, main, and footer */
header, main, footer {
    padding: 20px;
}

h1{
    color: var(--accent);
    font-size: 1.75em;
}

h2 {
 font-size: 2em;
}

/* Add some basic styles to make it look like a website */
header {
    font-size: 40px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
}

main {
    background-color: var(--primary);
}

footer {
    background-color: var(--accent);
    color: var(--light);
    text-align: center;
}

.space {
    height: 70px; 
  }

.sticky-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--accent);
    color: var(--light);
    padding: 10px 20px;
    z-index: 1000;
}

/* Set up a grid container with mixed column sizes */
.grid-container {
    background-color: var(--primary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.grid-item {
    flex: 1 0 30%; /* Allow items to grow, but not shrink. Set a minimum width of 30% */
    position: relative;
    padding: 20px;
    text-align: left;
    border: 1px dashed #ccc;
    margin-bottom: 20px; /* Add some space between items */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.grid-item img {
    cursor: pointer;
    max-width: 100%;
    height: auto;
    align-self: center;
    margin-bottom: 10px;
    max-height: 200px; /* Adjust this value to control image height */
}

.read-more {
    font-weight: bold; 
    text-decoration: none; 
    color: var(--accent); 
}

@media screen and (max-width: 768px) {
    .grid-item {
        min-width: 100px;
        flex: 1 0 100%; /* On smaller screens, set minimum width to 100% */
    }
}


