:root {
    --primary: #e7e7e6;
    --secondary: #90A7A2;
    --accent: #900d34;
    --light: #ffffff;
    --dark: #212121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a base font size */
body {
    font-size: 16px;
    font-family: 'Playfair Display';
}

/* Style header, main, and footer */
header, main, footer {
    padding: 20px;
}

h1{
    color: var(--accent);
    font-size: 1.75em;
}

h2 {
 font-size: 2em;
}

/* Add some basic styles to make it look like a website */
header {
    font-size: 40px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
}

main {
    background-color: var(--primary);
}

footer {
    background-color: var(--accent);
    color: var(--light);
    text-align: center;
}

.space {
    height: 70px; 
  }

.sticky-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--accent);
    color: var(--light);
    padding: 10px 20px;
    z-index: 1000;
}

/* Set up a grid container with mixed column sizes */
.grid-container {
    background-color: var(--primary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.grid-item {
    width: calc(33.33% - 20px); /* 33.33% width with 20px gap */
    margin-bottom: 20px; /* Add some space between items */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    border: 1px dashed #ccc;
    padding: 20px;
}

.grid-img img {
    max-width: 100%;
    height: auto;
    display: block; /* This ensures that the image won't cause spacing issues */
    padding: 10px;
    margin: 0 auto 10px; /* Centers the image and adds some space below */
}


.read-more {
    font-weight: bold; 
    text-decoration: none; 
    color: var(--accent); 
}



@media screen and (max-width: 1229px) {
    .grid-item {
        width: calc(50% - 20px); /* 50% width with 20px gap on smaller screens */
    }
    .grid-item.side-content {
        display: flex;
        flex-direction: row; /* Stack items vertically */
    }

    .grid-item.side-content article {
        width:100%;
        padding: 0 10px;
        margin-bottom: 20px; /* Add space between stacked articles */
    }
}


@media screen and (min-width: 1230px) {
    .grid-container {
        display: flex;
        flex-wrap: nowrap; 
    }

    .grid-item {
        width: auto;
        flex: 1; 
        margin: 0; 
        border: none; 
    }

    .grid-img {
        text-align: center;
    }

    .side-top{  
        display: none;
    }

    .side-content {
        width: 100%; 
        margin: 0; 
    }
}


